resources:
  # - local-cluster-tls-secret.yaml
  - https://kind.sigs.k8s.io/examples/ingress/deploy-ingress-nginx.yaml

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: ingress-nginx-controller
      namespace: ingress-nginx
    path: patch-add-ssl-cert.yaml

